{% extends "base.html" %}
{% block content %}

<div class="container">


<h3 class="text-center">Add a Task</h3>
    <form id="addtask" action="addtask">
    <input type="text" class="form-control" name="atask" placeholder="task name">
    <input type="text" class="form-control" name="adescription" placeholder="description">
        <p><input type="number" class="form-control" name="ameetnumber" placeholder="meet number"></p>
        <p><button class="btn btn-primary">Submit</button>
            <a class="btn btn-success" href="addtask">Reset</a></p>
</form>
</div>


    {% endblock %}
