{% extends "base.html" %}
{% block content %}

<div class="container">
<h3 class="text-center">Filled Positions</h3>

<form class="form-inline" action="./filledTasks">
<label for="myfilter" class="m-2">Filter by Meet</label>
<select  id="myfilter" style="width:40%" class="form-select form-control" onchange="this.form.submit()" name="aMeetNumber">
<option selected disabled value="">Select a Meet</option>
{% for meet in meet_list %}
        <option value="{{ meet[0] }}"> {{ meet[0] }} -  {{ meet[1] }} @ {{ meet[3] }} - {{ meet[2] }}</option>
{% endfor %}
<option value="">Show All</option>
</select>
<!--<input type="text" value="{{ admin }}" id="admin" name="admin"><br>-->
</form>


    <table id="mytable" class="table">
        <thead>
	  <tr>
            <th>Meet</th>
            <th>Location</th>
            <th>Date</th>
            <th>Task</th>
            <th>Name</th>
            {% if admin == '1' %}
                <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>




{% for row in rows %}
          <tr>
            <td>{{ row['meetNumber'] }}</td>
            <td>{{ row['location'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['task'] }}</td>
            <td>{{ row['Name'] }}<br>
		
            {% if admin == '1' %}
		<td><a class="btn btn-danger" href="./delete?delete=yes&id={{ row['id'] }}">Delete</a></td> 
            {% endif %}
        </tr>
{% endfor %}



        </tbody>
    </table>
{% if not rows %}
        <div class="alert alert-warning">No Positions Filled</div>
{% endif %}

</div>

{% endblock %}

