{% extends "base.html" %}
{% block content %}


<div class="container">
<h3 class="text-center">

{% if meetnumber == "All" %}
	Available Positions For All Meets
{% else %}
	Available Positions For Meet {{ meetnumber }}
{% endif %}
</h3>
<!--<p><div class="text-center">A few days before the meet a reminder email will be sent out with google maps directions to the pool.</div></p>-->



<form class="form-inline" action="./">
<label for="myfilter" class="m-2">Filter by Meet</label>
<select id="myfilter" style="width:40%" class="form-control" onchange="this.form.submit()" name="aMeetNumber">
<option selected disabled value="">Select a Meet</option>
{% for meet in available_meets %}
    <option value="{{ meet[0] }}"> {{ meet[0] }} -  {{ meet[1] }}</option>
{% endfor %}
<option value="">Show All</option>
</select>
</form>

    <table class="table table-striped">
        <thead>
            <th>Location</th>
            <th>Task</th>
            <th></th>
        </thead>
        <tbody>
	{% for row in rows %}
	{% if  row['disabled'] != 1 and row['meetnumber'] >= available_meets[0][0] %}
          <tr>
            <td nowrap>
		{% if row['opponent'] != None and row['opponent'] != 'Conference'%}
			<span title="Meet {{ row['meetnumber'] }}">{{ row['location'] }} vs. {{ row['opponent'] }}</span>&nbsp;&nbsp;<span class="badge badge-sm badge-success">Home Meet</span><!--home meet-->
		{% else %}
			<span  title="Meet {{ row['meetnumber'] }}" class="text-info"><i class="fa fa-at"></i>&nbsp;{{ row['location'] }}</span><!--away meet-->
		{% endif %}
		<br>
		<span class="text-muted">{{ row['date'] }}</span>
	    </td>
            <td>{{ row['task'] }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="signmeup?id={{ row['id'] }}&aMeetNumber={{ row['meetNumber'] }}&location={{ row['location'] }}">Sign Up</a>
            </td>
        </tr>
	{% endif %}
	{% endfor %}

        </tbody>
    </table>

        {% if not rows %}
        <div class="alert alert-success text-center">All positions filled</div> 
        {% endif %}
</div>

{% endblock %}