{% extends "base.html" %}
{% block content %}

<div class="container">
<h3 class="text-center">My Positions</h3>

    <table class="table">
        <thead>
            <th>Meet</th>
            <th>Location</th>
            <th>Date</th>
            <th>Task</th>
            <!--<th>TaskID</th>-->
            <th>Name</th>
	    <th>Notes</th>
            <th></th>
        </thead>
        <tbody>
{% for row in rows %}
          <tr>
            <td>{{ row['meetNumber'] }}</td>
            <td>{{ row['location'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['task'] }}</td>
            <!--<td>{{ row['id'] }}<br>-->
            <td>{{ row['Name'] }}<br>
            <td>{{ row['notes'] }}</td>

	<td>
		{% if admin == '1' %}
		    <a class="btn btn-danger" href="./delete?delete=yes&id={{ row['id'] }}">Delete</a> 
		{% endif %}
	</td>


        </tr>
{% endfor %}



        </tbody>
    </table>

</div>
{% endblock %}