{% extends "base.html" %}
{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">

    <br>
    <div class="alert alert-info">
            Meet: {{ meet_number }} -  {{ location }}
    </div>



    <form id="myform" action="submitform">

    <table class="table">
        <thead>
            <th>Task</th>
            <th>Description</th>
        </thead>

        <tbody>

        {% for row in rows %}
	  <tr>
              <td class="h5" nowrap>{{ row['task'] }}</td>
              <td>{{ row['description'] }}</td>
	      <input hidden class="form-control" name="aDescription" type="text" value="{{ row['description'] }}">
          </tr>
        {% endfor %}
        </tbody>
    </table>

        <input hidden class="form-control" name="aID" type="text" value="{{ id }}"><br>
        <input hidden class="form-control" name="aMeetNumber" type="text" value="{{ meet_number }}"><br>
        <input hidden class="form-control" name="aTask" type="text" value="{{ mytask }}"><br>
        <input class="form-control" required name="aName" value="{{ name }}" type="text" placeholder="Name"><br>
        <input class="form-control" required name="aEmail" value="{{ email }}" type="email" placeholder="Email"><br>
        <input hidden class="form-control" name="aNotes" type="text" placeholder="Notes (optional)"><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
